@model FinanceScraper3.Models.StockViewModel

@{
    ViewData["Title"] = "Your stocks for this snapshot:";
}
<br>  

<div class= "panel-heading">
    @await Html.PartialAsync("StocksPartial")
</div>

<h2>@ViewData["Title"]</h2>

<div>
    @await Html.PartialAsync("StocksTablePartial")
</div>

