@model FinanceScraper3.Models.StockViewModel

@{double totalValue = 0;}
@{double totalShares = 0;}

@foreach (var stock in @Model.Stocks)
{
    totalValue += stock.MarketValue;
    totalShares += stock.Shares;
}
<div clas="row">
    <div class="col-sm-6" style="background-color: rgb(55, 169, 223); color: white; width: 30%; padding: .3em">
        <h5 style="margin-left:1em">Net Worth</h5>
        <h4 style="margin-left:1em">@totalValue.ToString("C2")</h4>
        <h5 style="margin-left:4em">as of this snapshot</h5>
    </div>

    <div class="col-sm-6" style="float: right; background-color: rgb(13, 148, 65); color: white; width: 30%; padding: .3em">
        <h5 style="margin-left:1em">Total Shares</h5>
        <h4 style="margin-left:1em">@(String.Format("{0:#,##0.##}", totalShares))</h4>
        <h5 style="margin-left:4em">as of this snapshot</h5>
    </div>
</div>
<br><br><br><br>

