@{
    ViewData["Title"] = "About";
}
<br>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This app uses a variety of different items to allow the user to register and login to their account and trigger a new scrape of a mock Yahoo! Finance Portfolio, and gives them access to all of their previous scrapes</p>
<p>Some of the items this app uses:</p>
<ul>
    <li>.NET Core</li>
    <li>Entity Framework</li>
    <li>ASP.NET Core Identity</li>    
    <li>SQLite</li>
    <li>Selenium</li>
    <li>HTML Agility Pack</li>
    <li>XPath</li>
    <li>Bootstrap</li>
</ul>
