@{
    ViewData["Title"] = "Contact";
}
<br>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Matt Rizzini <br />
    Providence, RI 02906<br />
</address>

<address>
    <strong>Phone:</strong> 401-316-0288<br />
    <strong>Email:</strong> <a href="mailto:matthewrizzini@gmail.com">matthewrizzini@gmail.com</a><br />
</address>
