@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Matt Rizzini <br />
    Providence, RI<br />
</address>

<address>
    <strong>Email:</strong> <a href="mailto:matthewrizzini@gmail.com">matthewrizzini@gmail.com</a><br />
</address>
