@model FinanceScraper3.Models.Portfolio

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Snapshots:</h2>

<p>If you'd like to trigger a new snap shot of your portfolio, please click the button below</p>
@*
<button id="new-snap" class="btn btn-info">Trigger New Snapshot</button>
*@


        <button type="button" value= "NewSnapshot" onclick="location.href='@Url.Action("NewSnapshot", "Snapshots")'">Trig New Snap</button>

@*
@section scripts
{
    <script>

        $(document).ready(function () {

        var newSnap = $('#new-snap');
        // newSnap.click(function(){
        //     alert("scraper running"); 
        // });
            newSnap.click(function(){
                // alert("scraper running"); 
                var url = '@Url.Action("NewSnapshot", "Snapshots")';
        });
    });


    </script>
}
*@