@model FinanceScraper3.Models.PortfolioViewModel

@{
    ViewData["Title"] = "Your Snapshots";
}
<br>

<h2>@ViewData["Title"]</h2>

<h5>Click each date for more details</h5>

<div>
    @await Html.PartialAsync("SnapshotsTablePartial")
</div>

<div class= "panel-footer new-snapshot-form">
    @await Html.PartialAsync("TriggerSnapshotPartial", new Portfolio())
</div>