@model Portfolio


<form asp-action="TriggerSnapshot" method="POST">
    <label>If you'd like to trigger a new snapshot of your portfolio, please click the "Trigger" button below</label>
    <br>
    <button type="submit">Trigger</button>
</form>

